# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage

# Lightmaps
*.exr
*.exr.meta
LightmapSnapshot.asset
LightmapSnapshot.asset.meta
LightingData.asset
LightingData.asset.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/

# =========== #
# other stuff #
# =========== #

# Cloud System
Assets/Cloud System Demos\.meta
Assets/Cloud System Demos/*
Assets/Plugins/Cloud System\.meta
Assets/Plugins/Cloud System/*

# Graphs
Assets/Graph/Animation/CHARACTER\.meta
Assets/Graph/Animation/LIFE\.meta
Assets/Graph/Materials/BAText\.meta
Assets/Graph/Materials/BATint\.meta
Assets/Graph/Materials/TERRAIN\.meta
Assets/Graph/Meshes/BAText\.meta
Assets/Graph/Meshes/BATint\.meta
Assets/Graph/Meshes/FX\.meta
Assets/Graph/Meshes/LIFE\.meta
Assets/Graph/Meshes/TERRAIN\.meta
Assets/Graph/Textures/BAText\.meta
Assets/Graph/Textures/BATint\.meta
Assets/Graph/Textures/TERRAIN\.meta
Assets/Graph/Meshes/BLOCKOUT/Materials\.meta

# Antoine
Assets/Scenes/Antoine/Materials/Material #25\.mat\.meta
Assets/Scenes/Antoine/Test Assets\.meta

# unsorted
Assets/Prefab/BLOCKOUT\.meta
Assets/Scenes/SHARED/blockout_exterior\.meta
Assets/Materials\.meta
Assets/Plugins/AmplifyShaderEditor/Examples/Assets/Textures/Misc/ColoredNumberAtlas\.png\.meta
Assets/Prefabs/BLOCKOUT\.meta

